---

name: CI
on:
  push:
    branches:
      - master

env:
  DOCKER_IMAGE: bilalcaliskan/varnish-cache-invalidator

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.26.0
          golangci-lint run

  test:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...

  test-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod              # Module download cache
            ~/.cache/go-build         # Build cache (Linux)
            ~/Library/Caches/go-build # Build cache (Mac)
            '%LocalAppData%\go-build' # Build cache (Windows)
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Test
        run: go test ./...

  tag:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
      - test-cache
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.26.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true

  build-and-publish:
    runs-on: ubuntu-latest
    needs:
      - tag
    steps:
      - uses: actions/checkout@v2

      - name: Get latest tag
        id: latest_tag
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ DOCKER_IMAGE }}:${{ steps.latest_tag.outputs.tag }}

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          ## the name of our image
          name: ${{ DOCKER_IMAGE }}
          ## Here we pass in our Docker Username
          username: ${{ secrets.DOCKER_USERNAME }}
          ## and our Docker password which
          password: ${{ secrets.DOCKER_PASSWORD }}